/*_______________________________ GENERAL RULES _______________________________*/

h1 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 25px;
    text-align: center;
}

h4 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

td {
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

a {
    font-family: Roboto, sans-serif;
    color: #ef5a20;
}

/*____________________________________ INDEX ____________________________________*/

.btn-add_event, 
.btn-off,
.btn-flat:focus {
    width: 80px;
    background-color: transparent;
    border: none;
}

.btn-add_event {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-off {
    position: absolute;
    top: 0;
    right: 0;
}

.logo {
    margin-top: 100px;
}

.illustration {
    max-width: 100%;
}

.infos {
    position: absolute;
    left: 5px;
}

.infos h2, .infos p {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: inline;
}

.nb-persons {
    position: absolute;
    right: 5px;
}

.nb-persons img {
    width: 20px;
    display: inline-block;
}

.nb-persons p {
    font-family: Oswald, sans-serif;
    color: #ef5a20;
    font-weight: 700;
    display: inline-block;
    margin: 0;
}

.admin-organizer {
    padding-left: 5px;
    margin-top: 30px;
    width: 20%;
}

.medal-organizer {
    margin-top: 30px;
    width: 60%;
}

.admin-organizer, .medal-organizer {
    display: inline-block;
    vertical-align: middle;
}

.admin-organizer p {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

img.medal {
    width: 20px;
}

.description {
    padding: 0 10px;
}

.description p {
    text-align: justify;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.validate, .eject {
    width: 45%;
    display: inline-block;
}

.validate img, .eject img {
    width: 100%;
}

footer > a {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

footer {
   margin-top: 100px;
}


/*__________________________________ ADD EVENT __________________________________*/

form p {
    text-align: center;
}

form p img {
    width: 30px;
}

.input-field input:focus + label {
    color: #ef5a20 !important;
    margin: 20px 0;
}

input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus {
    border-bottom: 1px solid #6e2996 !important;
    -webkit-box-shadow: 0 1px 0 0 #6e2996 !important;
    box-shadow: 0 1px 0 0 #6e2996 !important;
}
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #6e2996 !important;
    box-shadow: 0 1px 0 0 #6e2996 !important;
}

.datepicker-date-display,
.datepicker-table td.is-selected,
.timepicker-digital-display {
    background-color: #6e2996;
}

.timepicker-tick:focus {
    background-color: #6e2996;
}

.datepicker-cancel, 
.datepicker-clear, 
.datepicker-today, 
.datepicker-done,
.timepicker-close,
.timepicker-cancel {
    color: #6e2996;
}

.datepicker-table td.is-today {
    color: #ef5a20;
    font-weight: bold;
}

.timepicker-clear, .timepicker-close {
    padding: 0 10px;
}

.modal {
    width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #ef5a20;
}

.btn-small, .btn-small:hover {
    background-color: #6e2996;
    margin: 0 auto;
}

/*_________________________ INSCRIPTION _________________________*/

#ins_submit_btn {
    position: absolute;
    left: 10px;
}

#ins_canc_btn {
    position: absolute;
    right: 10px;
}

.material-icons.prefix {
    color: #6e2996;
}

.inscription {
    padding-bottom: 50px;
}



/*_________________________ CONNEXION _________________________*/

.co_btn_sub {
    position: absolute;
    left: 10px;
}

.co_btn_ins {
    position: absolute;
    right: 10px;
}

.material-icons.prefix.connexion {
    margin-left: 10px;
}

.connection {
    padding-bottom: 50px;
}


/*_____________________________ CHAT _____________________________*/

.top img {
    width: 50px;
}

