/*_______________________________ GENERAL RULES _______________________________*/

h1 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 25px;
    text-align: center;
}

h4 {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

td {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    width: 100%;
}

.title-event {
    font-family: Roboto, sans-serif;
    color: #ef5a20;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.annonces, .discuss {
    font-family: Roboto, sans-serif;
    color: #333333;
    font-weight: normal;
    font-size: 12px;
}

.event-row td a {
    display: block;
    text-align: center
}

footer > a {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.modal h4 {
    font-size: 16px;
}

.modal {
    width: 100%;
}

.btn {
    font-size: 12px;
}

/*____________________________________ INDEX ____________________________________*/

.btn-add_event, 
.btn-off,
.btn-flat:focus {
    width: 65px;
    background-color: transparent;
    border: none;
}

.btn-add_event {
    position: absolute;
    top: 10px;
    left: 0;
}

.btn-off {
    position: absolute;
    top: 10px;
    right: 0;
}

.logo img {
    width: 60%;
}

.infos {
    position: absolute;
    left: 5px;
}

.infos h2, .infos p {
    font-family: Oswald, sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline;
}

.nb-persons {
    position: absolute;
    right: 5px;
}

.nb-persons img {
    width: 20px;
    display: inline-block;
}

.nb-persons p {
    font-family: Oswald, sans-serif;
    color: #ef5a20;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    vertical-align: top;
}

.admin-organizer {
    width: 20%;
}

.medal-organizer {
    margin-top: 30px;
    width: 60%;
}

.admin-organizer, .medal-organizer {
    display: inline-block;
}

.admin-organizer p {
    font-family: Oswald, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

img.medal {
    width: 20px;
}

.description {
    padding: 0 10px;
}

.description p {
    text-align: justify;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.validate, .eject {
    width: 45%;
    display: inline-block;
}

.validate img, .eject img {
    width: 100%;
}

/*__________________________________ ADD EVENT __________________________________*/

form p {
    text-align: center;
}

form p img {
    width: 30px;
}

.input-field input:focus + label {
    color: #ef5a20 !important;
    margin: 20px 0;
}

input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus {
    border-bottom: 1px solid #6e2996 !important;
    -webkit-box-shadow: 0 1px 0 0 #6e2996 !important;
    box-shadow: 0 1px 0 0 #6e2996 !important;
}
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #6e2996 !important;
    box-shadow: 0 1px 0 0 #6e2996 !important;
}

.datepicker-date-display,
.datepicker-table td.is-selected,
.timepicker-digital-display {
    background-color: #6e2996;
}

.timepicker-tick:focus {
    background-color: #6e2996;
}

.datepicker-cancel, 
.datepicker-clear, 
.datepicker-today, 
.datepicker-done,
.timepicker-close,
.timepicker-cancel {
    color: #6e2996;
}

.datepicker-table td.is-today {
    color: #ef5a20;
    font-weight: bold;
}

.timepicker-clear, .timepicker-close {
    padding: 0 10px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #ef5a20;
}

.btn-small, .btn-small:hover {
    background-color: #6e2996;
    margin: 0 auto;
}

/*_________________________ INSCRIPTION _________________________*/

#ins_submit_btn {
    position: absolute;
    left: 10px;
}

#ins_canc_btn {
    position: absolute;
    right: 10px;
}

.material-icons.prefix {
    color: #6e2996;
}

.inscription {
    padding-bottom: 50px;
}

/*_________________________ CONNEXION _________________________*/

.co_btn_sub {
    position: absolute;
    left: 10px;
}

.co_btn_ins {
    position: absolute;
    right: 10px;
}

.material-icons.prefix.connexion {
    margin-left: 10px;
}

.connection {
    padding-bottom: 50px;
}


/*_____________________________ CHAT _____________________________*/

.top img {
    width: 22px;
}

.top {
    position: relative;
    background-color: #eeeeee;
    padding: 5px;
}

.top h2 {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ef5a20;
    margin: 0;
}

.top .mail {
    position: absolute;
    left: 10px;
    top: 5px;
}

.top .trash {
    position: absolute;
    right: 10px;
    top: 5px;
}

.sender h3, .receiver h3 {
    font-family: Oswald, sans-serif;
    color: #6e2996;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0 10px;
}

.sender p, 
.receiver p {
    font-family: Roboto, sans-serif;
    color: #333333;
    margin: 0;
    font-size: 12px;
}

.sender {
    margin-left: 15px;
    text-align: left;
}

.receiver {
    margin-right: 15px;
    text-align: right;
}

input:not([type]):focus:not([readonly]),
input:not([type]) {
    border-bottom: transparent;
}

input#message {
    font-size: 12px;
}

.message-container {
    position: relative;
    height: 60px;
}

.message {
    margin-left: 10px;
    width: 70%;
}

.message-send {
    position: absolute;
    right: 15px;
    top: 0;
    width: 20px;
}

.plane-send {
    background-image: url("../img/send.png");
    border: none;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
}

.plane-send:focus {
    border-bottom: none;
}
